<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Turing machine</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<body>
<div id="app">
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm">
                <div class="form-group">
                    <label for="exportFile">Export file</label><br />
                    <input id="exportFile" type="button" value="Export" v-on:click="exportToFile">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="inputFile">Import file</label>
                    <input type="file" class="form-control-file" v-on:change="importToFile" id="inputFile">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                States
            </div>
            <div class="col-sm">
                Symbols
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-sm">
                <input v-model="states" placeholder="states">
            </div>
            <div class="col-sm">
                <input v-model="symbols" placeholder="symbols">
            </div>
        </div>
        <div class="row mt-3">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th v-for="symbol in symbolsArray">{{ symbol }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(state, idx) in statesArray">
                        <th scope="row">{{ state }}</th>
                        <td v-for="(symbol, cidx) in symbolsArray">
                            <input v-model="transitions[idx][cidx]">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                Starting symbols
            </div>
            <div class="col-sm">
                Strating state
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row mt-1">
            <div class="col-sm">
                <input v-model="startingSymbols" placeholder="starting symbols">
            </div>
            <div class="col-sm">
                <input v-model.trim="startingState" placeholder="starting state">
            </div>
            <div class="col-sm">
                <input type="button" value="Render" v-on:click="render">
            </div>
        </div>

        <div class="row mt-2 mb-2" v-if="isRendered">
            <div class="col-sm">
                <input type="button" value="Go" v-on:click="go" :disabled="!active">
            </div>
            <div class="col-sm">
                <input v-model.number="repetitionNumber" placeholder="times">
                times
            </div>
            <div class="col-sm">
                <input type="button" value="Go multiple times" v-on:click="repeat" :disabled="!active">
            </div>
        </div>

        <div class="alert alert-danger" v-if="error">
            {{ error }}
        </div>

        <div class="alert alert-info" v-if="info">
            {{ info }}
        </div>

        <table class="table table-dark mt-3" v-if="isRendered">
            <thead class="thead-light">
            <tr>
                <th></th>
                <th v-for="idx in DISPLAYED_ELEMENTS_NUMBER">{{ idx + indicator - 1 }}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th scope="row">Current state:</th>
                <td>{{ currentState }}</td>
                <td class="bg-info">^</td>
            </tr>
            </tfoot>
            <tbody>
            <tr>
                <th scope="row">Before
                </td>
                <td v-for="symbol in lastSymbols">{{ symbol }}</td>
            </tr>
            <tr>
                <th scope="row">Now
                </td>
                <td v-for="symbol in currentSymbols">{{ symbol }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    Vue.config.productionTip = true

    new Vue({
        el: '#app',
        data: {
            states: 'A B C',
            symbols: '0 1',
            transitions: [new Array(2), new Array(2), new Array(2)],
            startingSymbols: '1 0 1 0',
            startingState: 'A',
            usingSymbols: [],
            currentSymbols: [],
            lastSymbols: [],
            indicator: 0,
            currentState: 'A',
            repetitionNumber: 2,
            active: false,
            error: undefined,
            info: undefined,
            DISPLAYED_ELEMENTS_NUMBER: 10
        },
        methods: {
            trimAndSplit: function (str) {
                return str.trim().replace(/(^,)|(,+$)/g, '').split(/[\s,]+/)
            },
            render: function (event) {
                this.usingSymbols = this.trimAndSplit(this.startingSymbols)
                this.currentSymbols = this.usingSymbols.slice(0, this.DISPLAYED_ELEMENTS_NUMBER - 1)
                this.currentSymbols.unshift(undefined)
                this.lastSymbols = this.currentSymbols.splice()
                this.currentState = this.startingState
                this.indicator = 0
                this.active = true
                this.error = undefined
                this.info = undefined
            },
            go: function (event) {
                let symbol = this.usingSymbols[this.indicator]
                if (typeof symbol === 'undefined') {
                    this.active = false
                    this.info = 'Reached the end of the symbols on the tape'
                    return
                }
                let stateIndex = this.statesArray.indexOf(this.currentState)
                if (stateIndex < 0) {
                    this.error = 'Undefined state'
                    this.active = false
                    return
                }
                let symbolIndex = this.symbolsArray.indexOf(symbol)
                if (symbolIndex < 0) {
                    this.error = 'Undefined symbol'
                    this.active = false
                    return
                }
                let transition = this.transitions[stateIndex][symbolIndex]
                if (typeof transition !== 'undefined') {
                    this.lastSymbols = this.currentSymbols.slice()
                    this.usingSymbols[this.indicator] = transition[0]
                    this.currentState = transition[1]
                    if (transition[2] === 'R') {
                        this.lastSymbols.shift()
                        this.lastSymbols.push(this.usingSymbols[this.indicator + this.DISPLAYED_ELEMENTS_NUMBER - 1])
                        this.indicator++
                    } else {
                        if (this.lastSymbols.length > 9) {
                            this.lastSymbols.pop()
                        }
                        this.lastSymbols.unshift(this.usingSymbols[this.indicator - 2])
                        this.indicator--
                    }
                    if (this.indicator < 0) {
                        this.currentSymbols = this.usingSymbols.slice(0, this.DISPLAYED_ELEMENTS_NUMBER - 2)
                        this.currentSymbols.unshift(undefined)
                        this.currentSymbols.unshift(undefined)
                        this.active = false
                        this.info = 'Reached the end of the symbols on the tape'
                    } else if (this.indicator === 0) {
                        this.currentSymbols = this.usingSymbols.slice(0, this.DISPLAYED_ELEMENTS_NUMBER - 1)
                        this.currentSymbols.unshift(undefined)
                    } else {
                        this.currentSymbols = this.usingSymbols.slice(this.indicator - 1, this.indicator + this.DISPLAYED_ELEMENTS_NUMBER - 1)
                    }
                } else {
                    this.error = 'Undefined transition'
                    this.active = false
                }
                let newSymbol = this.usingSymbols[this.indicator]
                if (typeof newSymbol === 'undefined') {
                    this.active = false
                    this.info = 'Reached the end of the symbols on the tape'
                }
            },
            repeat: function (event) {
                for (let i = 0; this.active && i < this.repetitionNumber; i++) {
                    this.go()
                }
            },
            exportToFile: function (event) {
                let exportData = {}
                let keys = ['states', 'symbols', 'transitions', 'startingSymbols', 'startingState']
                keys.forEach((element, index, array) => {
                    exportData[element] = this.$data[element]
                })
                this.download('exportData.json', JSON.stringify(exportData))
            },
            download: function (filename, text) {
                var element = document.createElement('a')
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text))
                element.setAttribute('download', filename)

                element.style.display = 'none'
                document.body.appendChild(element)

                element.click()

                document.body.removeChild(element)
            },
            importToFile: function (event) {
                let file = event.target.files[0]
                if (file.type !== 'application/json') {
                    this.error = 'Import exported file'
                    return
                }
                let reader = new FileReader()
                reader.onload = e => {
                    let importedData = JSON.parse(e.target.result)
                    this.states = importedData.states
                    this.symbols = importedData.symbols
                    this.transitions = importedData.transitions
                    this.startingSymbols = importedData.startingSymbols
                    this.startingState = importedData.startingState
                }
                reader.readAsText(file)
            }
        },
        computed: {
            statesArray: function () {
                return this.trimAndSplit(this.states)
            },
            symbolsArray: function () {
                return this.trimAndSplit(this.symbols)
            },
            isRendered: function () {
                return this.usingSymbols.length > 0
            }
        },
        watch: {
            statesArray: function (newStates, oldStates) {
                if (newStates.length !== oldStates.length) {
                    if (newStates.length > this.transitions.length) {
                        this.transitions.push(new Array(this.symbolsArray.length))
                    }
                }
            },
            symbolsArray: function (newSymbols, oldSymbols) {
                if (newSymbols.length !== oldSymbols.length) {
                    if (newSymbols.length > this.transitions[0].length) {
                        for (let index = 0; index < this.transitions.length; index++) {
                            const row = this.transitions[index]
                            row.push(undefined)
                        }
                    }
                }
            }
        },
        created: function () {
            this.transitions[0][0] = '1AR'
        }
    })
</script>
</body>

</html>
